body {
  margin: 0;
  padding: 0;
  background: #abc;
}

*, h1, h2, h3, p, button {
  font-family: 'Poor Story', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
